flow_Challenge.json
[{"id":"5f8c31d3.ce703","type":"tab","label":"Challenge","disabled":false,"info":""},{"id":"7c6d9a8b.1b6424","type":"change","z":"5f8c31d3.ce703","name":"set.msg.tweet","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.alerta","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":400,"wires":[["96548812.080548"]],"icon":"font-awesome/fa-filter"},{"id":"96548812.080548","type":"mqtt out","z":"5f8c31d3.ce703","name":"","topic":"tdsf/gvm/nac/sensor/twitter","qos":"0","retain":"","broker":"f3188191.290a8","x":1080,"y":400,"wires":[]},{"id":"4b65f6d8.ce08f8","type":"mqtt in","z":"5f8c31d3.ce703","name":"","topic":"tdsf/gvm/nac/sensor/twitter","qos":"2","datatype":"auto","broker":"f3188191.290a8","x":750,"y":480,"wires":[["405d0370.1f43ac"]]},{"id":"8070cfc0.a831e","type":"comment","z":"5f8c31d3.ce703","name":"Envia MQTT do Twitter","info":"","x":1380,"y":480,"wires":[]},{"id":"77826716.1980e8","type":"comment","z":"5f8c31d3.ce703","name":"COM5","info":"","x":350,"y":360,"wires":[]},{"id":"405d0370.1f43ac","type":"function","z":"5f8c31d3.ce703","name":"publica_twitter","func":"msg.payload = \"5cm de distância do leitor\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":480,"wires":[["9c4058d.b3005a8"]]},{"id":"f6272a67.cd5968","type":"comment","z":"5f8c31d3.ce703","name":"Recebe MQTT do Twitter","info":"","x":1370,"y":400,"wires":[]},{"id":"9c4058d.b3005a8","type":"twitter out","z":"5f8c31d3.ce703","twitter":"","name":"Tweet","x":1210,"y":480,"wires":[]},{"id":"50ed731a.78fbdc","type":"serial in","z":"5f8c31d3.ce703","name":"Circuito","serial":"f464ff51.4f65d","x":350,"y":400,"wires":[["116622e7.535bcd"]],"outputLabels":["Circuito"],"icon":"node-red/arduino.png"},{"id":"116622e7.535bcd","type":"json","z":"5f8c31d3.ce703","name":"","property":"payload","action":"","pretty":false,"x":550,"y":400,"wires":[["7c6d9a8b.1b6424"]]},{"id":"f3188191.290a8","type":"mqtt-broker","name":"Servidor-MTQQ","broker":"broker.hivemq.com​","port":"1883","clientid":"clientId-xxbcdY45iB","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"oi joao","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f464ff51.4f65d","type":"serial-port","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]